@model IEnumerable<AM.ApplicationCore.Domain.Plane>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlaneType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManufactureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlaneType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufactureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlaneId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlaneId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlaneId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
