@model IEnumerable<AM.ApplicationCore.Domain.Ticket>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Siege)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VIP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passenger)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flignt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Siege)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VIP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passenger.FullName.FirstName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Flignt.FlightId)
            </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {PassengerFK=item.PassengerFK, FlightFK=item.FlightFK, TicketNbre=item.TicketNbre}) |
                    @Html.ActionLink("Details", "Details", new { PassengerFK=item.PassengerFK, FlightFK=item.FlightFK, TicketNbre=item.TicketNbre }) |
                    @Html.ActionLink("Delete", "Delete", new { PassengerFK=item.PassengerFK, FlightFK=item.FlightFK, TicketNbre=item.TicketNbre })
                </td>
        </tr>
}
    </tbody>
</table>
